.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 60px;
    color:white;
}
.nav-logo{
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style:none;
    font-size: 18px;
    gap: 90px;
}
.nav-contact{
    padding: 10px;
    border-radius: 50px;
    background: #fff;
    color:#262626
}